body{
    margin: 0px;
    padding: 0px;
}
header{
   width: 100%;
   height: 200px;
   background-color: #ccb8b45b;
}
header .left_nav a {
    display:inline-flex;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: 120px;
    margin-top: 60px;
}
header .right_nav ul{
    display: flex;
    justify-content: space-around;
    width: 450px;
    float: right;
    margin-right: 100px;
}
header .right_nav ul li{
    display: inline-block;
}
header .right_nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Syne', sans-serif;
    font-size: 14px;
}
main .banner_one{
    width: 100%;
    height: 700px;
    background-color: #ccb8b45b;
}
main .banner_one div{
    text-align: center;
}
main .banner_one div p{
    font-size: 25px;
    font-family: 'Syne', sans-serif;
}
main .banner_one div h1{
    font-size: 80px;
    font-family: 'Fraunces', serif;
}
main .banner_one img{
    width: 40%;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: 50px;
}
main .banner_two{
    width: 100%;
    height: 300px;
    background-color: #ccb8b481;
}
main .banner_two h1{
    width: 50%;
    font-size: 35px;
    font-family: 'Fraunces', serif;
    text-align: center;
    margin-left: 400px;
}
main .banner_two p{
    width: 40%;
    font-size: 20px;
    font-family: 'Syne', sans-serif;
    text-align: center;
    margin-left: 450px;
}
main .banner_three{
    width: 100%;
    height: 800px;
    background-color: #ccb8b45b;
}
main .banner_three div{
    width: 70%;
    margin-left: 200px;
    margin-top: 100px;
}
main .banner_three h1{
    font-size: 80px;
    font-family: 'Fraunces', serif;
    margin-left: 70px;
}
main .banner_three div span{
    color: #c94d31;
    font-size:20px ;
}
main .banner_three div h2{
    font-size: 35px;
    font-family: 'Fraunces', serif;
}
main .banner_three div p{
    font-size: 20px;
    font-family: 'Syne', sans-serif;
}
main .banner_five{
    width: 100%;
    height: 250px;
    background-color: #ccb8b481;
}
main .banner_five h2{
    font-size: 80px;
    font-family: 'Fraunces', serif;
    margin-left: 700px;
}
main .banner_five p{
    font-size: 25px;
    font-family: 'Fraunces', serif;
    margin-left: 500px;
}
main .questions{
    width: 100%;
    height: 1100px;
    background-color: #ccb8b45b;
}
main .questions h1{
    font-size: 20px;
    font-family: 'Syne', sans-serif;
    text-align: center;
}
main .questions h2{
    font-size: 80px;
    font-family: 'Fraunces', serif;
    margin-left: 100px;
    margin-top: 100px;
}
main .questions img{
    width: 80%;
    margin-left: 140px;
}
.contact {
    width: 100%;
    height: 400px;
    background-color: #ccb8b45b;
}
.contact h1{
    font-size: 80px;
    font-family: 'Fraunces', serif;
    margin-left: 50px;
}
.contact .email {
    float: right;
    width: 30%;
    margin-top: 50px;
}
.contact .email span{
    font-size: 14px;
    font-family: 'Syne', sans-serif;
}
.contact .email a{
    color: red;
}
.contact .number{
    font-size: 14px;
    font-family: 'Syne', sans-serif;
    margin-left: 550px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.contact .number a{
    text-decoration: none;
    color: black;
}
.contact .paragraph {
    width: 30%;
    margin-left: 50px;
}
.contact .paragraph p{
    font-size: 14px;
    font-family: 'Syne', sans-serif;
}
footer{
    background-color: #ccb8b481;
    width: 100%;
    height: 100px;
}
footer  .created p{
    font-family: 'Syne', sans-serif;
    font-size: 14px;
}
footer .created_two ul{
    display: flex;
    justify-content: space-around;
    width: 450px;
    float: right;
    margin-right: 80px;
}
footer .created_two ul li{
    display: inline-block;
}
footer .created_two ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Syne', sans-serif;
    font-size: 14px;
}